<a href="https://colab.research.google.com/github/RimadhaniAula/uas-big-data-2022/blob/main/uas_big_data_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz

In [3]:
!tar xf spark-3.2.1-bin-hadoop3.2.tgz

In [4]:
import os
os.environ["JAVA HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [5]:
!pip install -q findspark

In [6]:
import findspark
findspark.init()

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [13]:
df = spark.read.format("csv").option("header", "True", ).load("/data.csv")
df.printSchema()

root
 |-- type_school;school_accreditation;gender;interest;residence;parent_age;parent_salary;house_area;average_grades;parent_was_in_college;in_college: string (nullable = true)

In [15]:
df.describe().show()

+-------+----------------------------------------------------------------------------------------------------------------------------------------------+
|summary|type_school;school_accreditation;gender;interest;residence;parent_age;parent_salary;house_area;average_grades;parent_was_in_college;in_college|
+-------+----------------------------------------------------------------------------------------------------------------------------------------------+
|  count|                                                                                                                                          1000|
|   mean|                                                                                                                                          null|
| stddev|                                                                                                                                          null|
|    min|                                                                                                                          Academic;A;Female...|
|    max|                                                                                                                          Vocational;B;Male...|
+-------+----------------------------------------------------------------------------------------------------------------------------------------------+

In [16]:
df.show(4,False)

+----------------------------------------------------------------------------------------------------------------------------------------------+
|type_school;school_accreditation;gender;interest;residence;parent_age;parent_salary;house_area;average_grades;parent_was_in_college;in_college|
+----------------------------------------------------------------------------------------------------------------------------------------------+
|Academic;A;Male;Less Interested;Urban;56;6950000;83.0;84.09;FALSE;TRUE                                                                        |
|Academic;A;Male;Less Interested;Urban;57;4410000;76.8;86.91;FALSE;TRUE                                                                        |
|Academic;B;Female;Very Interested;Urban;50;6500000;80.6;87.43;FALSE;TRUE                                                                      |
|Vocational;B;Male;Very Interested;Rural;49;6600000;78.2;82.12;TRUE;TRUE                                                                       |
+----------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 4 rows

In [27]:
df.show(3,True)

+----------------------------------------------------------------------------------------------------------------------------------------------+
|type_school;school_accreditation;gender;interest;residence;parent_age;parent_salary;house_area;average_grades;parent_was_in_college;in_college|
+----------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                          Academic;A;Male;L...|
|                                                                                                                          Academic;A;Male;L...|
|                                                                                                                          Academic;B;Female...|
+----------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 3 rows